.HelloWorld {
    border: 2px solid darkred;
    text-align: center;
    background: black;
    color: white;
    margin: 20px;
    padding: 20px;
}

.GreetButton {
    border: 0px;
    color: red;
    background: white;
}