.GreetButton {
    border: 0px;
    color: skyblue;
    background: white;
    margin:5px;
}

.AddGreetButton {
    border: 2px;
    margin: 5px 10px 5px 5px;
    color: black;
    background: white;
}

.RemoveButton {
    border: 2px;
    color: black;
    background: red;
    font: bold;
    margin: 5px;
}